{% extends 'layout/layout.twig' %}

{% block title %}TOP{% endblock %}

{% block header_scripts_add %}
<style>

.right-side-content{
  position: absolute;
  display: inline-block;
  right: 0;
  left: 0;
  text-align: center;
}

table, th, td {
    border: none;
}

</style>
{% endblock %}

{% block page_content %}
  <div class="contents" style="width:960px;height:1020px;">
    <div class="right-side-content"style="">
      <table style="border: 1px solid;margin: 0 auto;">
          <tr style="border-bottom: 1px solid;">
            {% for parent_attribute in parent_attributes %}
              <td>
                {{parent_attribute.name}}の間
              </td>
          {% endfor %}
        </tr>

        <tr style="border-bottom: 1px solid;">
          {% for parent_attribute in parent_attributes %}
          <td>
            <img src="{{parent_attribute.img_url}}" style="width:300px; height: 300px;" />
          </td>
          {% endfor %}
        </tr>

        <tr style="border-bottom: 1px solid;">
          {% for parent_attribute in parent_attributes %}
            <th>
                {{parent_attribute.comment}}
            </th>
          {% endfor %}
        </tr>

        <tr style="border-bottom: 1px solid;">
          {% for parent_attribute in parent_attributes %}
          <td>
            <button>
              <a href="/room/{{parent_attribute.id}}">参加</a>
            </button>
          </td>
          {% endfor %}
        </tr>

        <tr style="border-bottom: 1px solid;">
          {% for room_user in room_users %}
          <td>
            {{room_user.room_member }} / 4
            <!--<div  style="border: 1px solid;width: 50px;">
              <label>{{room_user.room_member }} / 4 </label>
            </div>-->
          </td>
          {% endfor %}
        </tr>

      </table>
    </div>
  </div>
{% endblock %}

{% block footer_scripts_add %}
<script>
$(function(){
  $('.tab_btn').on('click', function(){
    $('.nav-item').toggle();
  })
});
</script>
{% endblock %}
